@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

#projects {
  background-color: #DDD7D7;
  padding-bottom: 50px;
}

.project-container {
  max-width: 60%;
  margin: 0 auto;
  font-family: "Aileron Light";
  font-weight: 600;
  background-color: #DDD7D7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h3 {
  font-family: "Hurricane";
  font-size: 34px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-text h1 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-top: -30px;
  margin-bottom: -30px;
}

.project-text h1 {
  letter-spacing: 0rem;
}

.project-text h1,
.project-descr h2 {
  color: #3B3B3B;
}

.project-descr h4 {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
  margin-left: 6px;
}

.project-descr {
  margin-bottom: 2rem;
}

.project-gradient {
  height: 0.3rem;
  width: 50%;
  margin-bottom: 1rem;
  margin-left: 6px;
  background: rgb(167, 155, 155);
  background: linear-gradient(
    90deg,
    rgba(167, 155, 155, 1) 20%,
    rgba(212, 205, 205, 1) 74%
  );
}

.project-descr a {
  color: #3B3B3B;
  font-family: "Aileron Light", cursive;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: linear-gradient(
    to bottom,
    #000,
    #000 60%,
    #EEE3D9 60%,
    #EEE3D9 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: background 0.2s ease-out;
  white-space: nowrap;
}

.projects-descr:hover {
  background-position: 0 11px;
}

.project-span {
  position: relative;
}

.project-span:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  height: 10px;
  background: #d4b6b1;
  bottom: 10px;
  margin: 5px;
  transition: all 0.2s ease-out;
}

.project-span:hover:before {
  transform: translateY(8px);
}

.live-sources {
  display: flex;
  margin-top: -30px;
}

.description {
  margin-left: 5px;
}

.img {
  object-fit: contain;
  width: 100%;
  height: auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  vertical-align: middle;
}

.img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.479);
  transition: box-shadow 0.4s;
 }
