@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.about-container {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.bio-image {
  max-width: 250px;
  height: auto;
  object-fit: contain;
  margin: 20px;
  margin-right: 25px;
}

.title-text {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 3.3rem;
  line-height: 2.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

#bio-text {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  margin: 20px;
  margin-top: 30px;
}

.highlight {
  color: #988eb1;
  font-size: inherit;
}

@media only screen and (max-width: 1080px) {  
  .bio-image {
    max-width: 300px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 980px) {  
  .about-container {
    display: flex;
    max-width: 90%;
  }

  .bio-image {
    max-width: 300px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
  }

  #bio-text {
    line-height: 1.4rem;
  }
}

@media only screen and (max-width: 890px) {  
  .about-container {
    max-width: 90%;
  }

  .bio-image {
    float: left;
    max-width: 300px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 780px) {
  .about-container {
    display: block;
    max-width: 80%;
    margin-top: 40px;
  }
  
  .bio-image {
    max-width: 80%;
    height: auto;
    object-fit: contain;
  }
}

@media only screen and (max-width: 390px) {
  .about-container {
    display: block;
    max-width: 98%;
    margin: 0 auto;
  }
  
  .bio-image {
    max-width: 87%;
    height: auto;
    object-fit: contain;
  }
}