.footer {
  background: rgb(35,37,38);
  background: linear-gradient(90deg, rgba(35,37,38,1) 0%, rgba(64,66,68,1) 52%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
 }

.footer h4 {
  color: #D4B6B1;
  font-family: 'Hurricane';
  font-size: 28px;
  text-align: center;
}

.made-by {
  color: #D4B6B1;
  font-family: 'Hurricane';
  font-size: 28px;
  text-align: center;
}

.contact-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab,
.fas {
  color: #D4B6B1;
  font-size: 40px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;
}

.fab:hover,
.fas:hover {
  color: #3b3b3b;
  background: #D4B6B1;
  padding: 20px;
  cursor: pointer;
}